:root {
  --text-color: #150909;
  --primary-color: #b9535a;
  --white: #fcf8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.7;
  font-family: sans-serif;
  background-color: var(--white);
  color: #150909;
}

.button {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
